<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
         <div class="socailmediaicons">
            <ul type="none">
                <li><a href="#" target="_blank"><i class="fab  fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab   fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab   fa-instagram"></i></a></li>
                <li ><a href="#" target="_blank"><i  class="fab   fa-youtube" ></i></a></li>
                
            </ul>
         </div>
            </div>
            <div class="col-md-3 quicklinks">
                <h5>Quick Links</h5>
                <ul>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Home</a></li>
                 <li><a href="#">Home</a></li>     
                </ul> 
            </div>
            <div class="col-md-3 quicklinks">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
            <div class="col-md-3 quicklinks">
                <h5>Quick Links</h5>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copy-right">
        <p><span>&#169;</span>
            2021 SHREE HAASA SOFTWARE SOLUTIONS - ALL RIGHTS RESERVED.</p>
      </div>
</div>